.comment-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    width: 500px;
  }
}

.button-row {
  display: flex;
  width: 100%;
}

.comment {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-left: 2px solid black;
}

.blank {
  margin: 0px;
  margin-bottom: 5px;
  border: none;
}